@page
@model SM.LampShade.Areas.Admin.Pages.Shop.ProductPictures.IndexModel
@{
    ViewData["Title"] = "مدیریت عکس محصولات";
}
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>List Prouct Category</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item"><a asp-page="./Index">لیست عکس محصولات</a></div>
            </div>
        </div>

        <div class="section-body">
            <h2 class="section-title">مشاهده لیست عکس محصولات</h2>
            <p class="section-lead">List Prouct's</p>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>لیست عکس محصول ها</h4>
                            <div class="card-header-action">

                                <form method="get">
                                    <div class="input-group">
                                        <input type="submit" class="btn btn-primary" style="padding: 0 34px !important;"
                                               value="Search" />
                                        <Select class="form-control select2-dropdown text-center font-weight-bold shadow-sm w-25 p-2 ml-2"
                                                style="border-radius: 10px 10px 10px 10px !important;height: 36px;" asp-for="SearchModel.ProductId" asp-items="Model.Products">
                                            <option value="0">محصول</option>
                                        </Select>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped" id="sortable-table">
                                    <thead>
                                        <tr>
                                            <th class="border">ID</th>
                                            <th class="border">عکس محصول</th>
                                            <th class="border">نام محصول</th>
                                            <th class="border">تاریخ ایجاد</th>
                                            <th class="border">وضعیت</th>
                                            <th class="border">عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ProductPictures)
                                        {
                                            <tr>
                                                <td class="border">
                                                    @item.Id
                                                </td>
                                                <td class="border"><img src="@item.Picture" width="90" height="70" class="m-1"></td>
                                                <td class="align-middle border">
                                                    @item.Products
                                                </td>
                                                <td class="border">
                                                    @item.CreationDate
                                                </td>
                                                <td class="border">
                                                    @if (item.IsDeleted == false)
                                                    {
                                                        <i class="fa fa-check text-success fa-2x text-center"></i>
                                                    }
                                                    @if(item.IsDeleted==true)
                                                    {
                                                        <i class="text-danger fa-2x text-center">X</i>

                                                    }
                                                </td>
                                                <td class="border">
                                                    @if (item.IsDeleted == true)
                                                    {
                                                      
                                                        <form asp-page-handler="Restore" method="post" class="btn">
                                                            <button type="submit" class="btn btn-warning">بازنشانی</button>
                                                            <input type="hidden" name="Id" value="@item.Id" />
                                                        </form>
                                                    }
                                                    else if (item.IsDeleted == false)
                                                    {
                                                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">ویرایش</a>
                                                        <form asp-page-handler="Remove" method="post" class="btn">
                                                            <button type="submit" class="btn btn-danger">حذف</button>
                                                            <input type="hidden" name="Id" value="@item.Id" />
                                                        </form>
                                                    } 
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                    <a asp-page="./Index" class="btn btn-round btn-primary float-right mb-2 mr-5">مشاهده همه  </a>
                                    <a asp-page="./Create" class="btn btn-warning btn-round float-right mr-4">ایجاد محصول جدید</a>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>