@page
@model SM.LampShade.Areas.Admin.Pages.Discount.CustomerDiscount.IndexModel
@{
    ViewData["Title"] = "مدیریت تخفیفات مشتریان";
}
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>List Prouct Category</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item"><a asp-page="./Index">لیست تخفیفات</a></div>
            </div>
        </div>

        <div class="section-body">
            <h2 class="section-title">مشاهده لیست تخفیفات</h2>
            <p class="section-lead">List Discount's</p>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>لیست تخفیف ها</h4>
                            <div class="card-header-action">

                                <form method="get">
                                    <div class="input-group">
                                        <input type="submit" class="btn btn-primary" style="padding: 0 34px !important;"
                                               value="Search" />
                                        <Select class="form-control select2-dropdown text-center font-weight-bold shadow-sm w-25 p-2 ml-2"
                                                style="border-radius: 10px 10px 10px 10px !important;height: 36px;" asp-for="SearchModel.ProductId" asp-items="Model.Products">
                                            <option value="0"> محصولات</option>
                                        </Select>
                                        
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped" id="sortable-table">
                                    <thead>
                                        <tr>
                                            <th class="border">ID</th>
                                            <th class="border"> محصول</th>
                                            <th class="border">درصد تخفیف</th>
                                            <th class="border">تاریخ شروع</th>
                                            <th class="border">تاریخ پایان</th>
                                            <th class="border">علت تخفیف</th>
                                            <th class="border">تاریخ تولید</th>
                                            <th class="border">عملیات</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.CustomerDiscounts)
                                        {
                                            <tr>
                                                <td class="border">
                                                    @item.Id
                                                </td>
                                                <td class="border">@item.Product</td>
                                                <td class="align-middle border">
                                                    @item.DiscountRate
                                                </td>
                                                <td class="border">
                                                    @item.StartDay
                                                </td>
                                                <td class="border">
                                                    @item.EndDate
                                                </td>
                                                <td class="border">
                                                    @item.Reason
                                                </td>
                                                <td class="border">
                                                    @item.CreationDate
                                                </td>
                                                <td class="border">
                                                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">ویرایش</a>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                    <a asp-page="./Index" class="btn btn-round btn-primary float-right mb-2 mr-5">مشاهده همه  </a>
                                    <a asp-page="./Create" class="btn btn-warning btn-round float-right mr-4">ایجاد تخفیف جدید</a>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>